#glitch2 {
  background-image: url(../images/bg2.jpg);
  padding-top: calc(1281 / 1920 * 100%);
  width: 100%;
  overflow: hidden;
  position: relative;
}
#glitch2::before, #glitch2::after,
#glitch2 .channel {
  background: inherit;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#glitch2::before {
  content: "";
  -webkit-animation: glitch-before 2s linear infinite alternate both;
          animation: glitch-before 2s linear infinite alternate both;
  -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
          clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
}
@-webkit-keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 22.4398147193%, 100% 22.4398147193%, 100% 25.2303452789%, 0% 25.2303452789%);
            clip-path: polygon(0% 22.4398147193%, 100% 22.4398147193%, 100% 25.2303452789%, 0% 25.2303452789%);
  }
  2% {
    -webkit-clip-path: polygon(0% 83.4887646245%, 100% 83.4887646245%, 100% 89.7858906285%, 0% 89.7858906285%);
            clip-path: polygon(0% 83.4887646245%, 100% 83.4887646245%, 100% 89.7858906285%, 0% 89.7858906285%);
  }
  4% {
    -webkit-clip-path: polygon(0% 85.4526529413%, 100% 85.4526529413%, 100% 91.3211326021%, 0% 91.3211326021%);
            clip-path: polygon(0% 85.4526529413%, 100% 85.4526529413%, 100% 91.3211326021%, 0% 91.3211326021%);
  }
  6% {
    -webkit-clip-path: polygon(0% 8.655256562%, 100% 8.655256562%, 100% 15.8288683415%, 0% 15.8288683415%);
            clip-path: polygon(0% 8.655256562%, 100% 8.655256562%, 100% 15.8288683415%, 0% 15.8288683415%);
  }
  8% {
    -webkit-clip-path: polygon(0% 46.2831280832%, 100% 46.2831280832%, 100% 53.2841292899%, 0% 53.2841292899%);
            clip-path: polygon(0% 46.2831280832%, 100% 46.2831280832%, 100% 53.2841292899%, 0% 53.2841292899%);
  }
  10% {
    -webkit-clip-path: polygon(0% 6.4463914433%, 100% 6.4463914433%, 100% 7.8247274274%, 0% 7.8247274274%);
            clip-path: polygon(0% 6.4463914433%, 100% 6.4463914433%, 100% 7.8247274274%, 0% 7.8247274274%);
  }
  12% {
    -webkit-clip-path: polygon(0% 27.8037072141%, 100% 27.8037072141%, 100% 36.8225247208%, 0% 36.8225247208%);
            clip-path: polygon(0% 27.8037072141%, 100% 27.8037072141%, 100% 36.8225247208%, 0% 36.8225247208%);
  }
  14% {
    -webkit-clip-path: polygon(0% 6.1246926233%, 100% 6.1246926233%, 100% 10.6516639759%, 0% 10.6516639759%);
            clip-path: polygon(0% 6.1246926233%, 100% 6.1246926233%, 100% 10.6516639759%, 0% 10.6516639759%);
  }
  16% {
    -webkit-clip-path: polygon(0% 72.342768316%, 100% 72.342768316%, 100% 82.2622691388%, 0% 82.2622691388%);
            clip-path: polygon(0% 72.342768316%, 100% 72.342768316%, 100% 82.2622691388%, 0% 82.2622691388%);
  }
  18% {
    -webkit-clip-path: polygon(0% 69.5039959428%, 100% 69.5039959428%, 100% 75.8570721188%, 0% 75.8570721188%);
            clip-path: polygon(0% 69.5039959428%, 100% 69.5039959428%, 100% 75.8570721188%, 0% 75.8570721188%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: translate(0, 0);
  }
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 22.4398147193%, 100% 22.4398147193%, 100% 25.2303452789%, 0% 25.2303452789%);
            clip-path: polygon(0% 22.4398147193%, 100% 22.4398147193%, 100% 25.2303452789%, 0% 25.2303452789%);
  }
  2% {
    -webkit-clip-path: polygon(0% 83.4887646245%, 100% 83.4887646245%, 100% 89.7858906285%, 0% 89.7858906285%);
            clip-path: polygon(0% 83.4887646245%, 100% 83.4887646245%, 100% 89.7858906285%, 0% 89.7858906285%);
  }
  4% {
    -webkit-clip-path: polygon(0% 85.4526529413%, 100% 85.4526529413%, 100% 91.3211326021%, 0% 91.3211326021%);
            clip-path: polygon(0% 85.4526529413%, 100% 85.4526529413%, 100% 91.3211326021%, 0% 91.3211326021%);
  }
  6% {
    -webkit-clip-path: polygon(0% 8.655256562%, 100% 8.655256562%, 100% 15.8288683415%, 0% 15.8288683415%);
            clip-path: polygon(0% 8.655256562%, 100% 8.655256562%, 100% 15.8288683415%, 0% 15.8288683415%);
  }
  8% {
    -webkit-clip-path: polygon(0% 46.2831280832%, 100% 46.2831280832%, 100% 53.2841292899%, 0% 53.2841292899%);
            clip-path: polygon(0% 46.2831280832%, 100% 46.2831280832%, 100% 53.2841292899%, 0% 53.2841292899%);
  }
  10% {
    -webkit-clip-path: polygon(0% 6.4463914433%, 100% 6.4463914433%, 100% 7.8247274274%, 0% 7.8247274274%);
            clip-path: polygon(0% 6.4463914433%, 100% 6.4463914433%, 100% 7.8247274274%, 0% 7.8247274274%);
  }
  12% {
    -webkit-clip-path: polygon(0% 27.8037072141%, 100% 27.8037072141%, 100% 36.8225247208%, 0% 36.8225247208%);
            clip-path: polygon(0% 27.8037072141%, 100% 27.8037072141%, 100% 36.8225247208%, 0% 36.8225247208%);
  }
  14% {
    -webkit-clip-path: polygon(0% 6.1246926233%, 100% 6.1246926233%, 100% 10.6516639759%, 0% 10.6516639759%);
            clip-path: polygon(0% 6.1246926233%, 100% 6.1246926233%, 100% 10.6516639759%, 0% 10.6516639759%);
  }
  16% {
    -webkit-clip-path: polygon(0% 72.342768316%, 100% 72.342768316%, 100% 82.2622691388%, 0% 82.2622691388%);
            clip-path: polygon(0% 72.342768316%, 100% 72.342768316%, 100% 82.2622691388%, 0% 82.2622691388%);
  }
  18% {
    -webkit-clip-path: polygon(0% 69.5039959428%, 100% 69.5039959428%, 100% 75.8570721188%, 0% 75.8570721188%);
            clip-path: polygon(0% 69.5039959428%, 100% 69.5039959428%, 100% 75.8570721188%, 0% 75.8570721188%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: translate(0, 0);
  }
}
#glitch2::after {
  content: "";
  -webkit-animation: glitch-after 2s linear infinite alternate both;
          animation: glitch-after 2s linear infinite alternate both;
  -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
          clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
}
@-webkit-keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 80.5662998987%, 100% 80.5662998987%, 100% 82.323176521%, 0% 82.323176521%);
            clip-path: polygon(0% 80.5662998987%, 100% 80.5662998987%, 100% 82.323176521%, 0% 82.323176521%);
  }
  2% {
    -webkit-clip-path: polygon(0% 36.6411380341%, 100% 36.6411380341%, 100% 44.9298508086%, 0% 44.9298508086%);
            clip-path: polygon(0% 36.6411380341%, 100% 36.6411380341%, 100% 44.9298508086%, 0% 44.9298508086%);
  }
  4% {
    -webkit-clip-path: polygon(0% 6.7918543054%, 100% 6.7918543054%, 100% 8.9326932712%, 0% 8.9326932712%);
            clip-path: polygon(0% 6.7918543054%, 100% 6.7918543054%, 100% 8.9326932712%, 0% 8.9326932712%);
  }
  6% {
    -webkit-clip-path: polygon(0% 40.07831012%, 100% 40.07831012%, 100% 46.4573974671%, 0% 46.4573974671%);
            clip-path: polygon(0% 40.07831012%, 100% 40.07831012%, 100% 46.4573974671%, 0% 46.4573974671%);
  }
  8% {
    -webkit-clip-path: polygon(0% 69.7484869907%, 100% 69.7484869907%, 100% 78.3558395749%, 0% 78.3558395749%);
            clip-path: polygon(0% 69.7484869907%, 100% 69.7484869907%, 100% 78.3558395749%, 0% 78.3558395749%);
  }
  10% {
    -webkit-clip-path: polygon(0% 7.6427190452%, 100% 7.6427190452%, 100% 17.0373113582%, 0% 17.0373113582%);
            clip-path: polygon(0% 7.6427190452%, 100% 7.6427190452%, 100% 17.0373113582%, 0% 17.0373113582%);
  }
  12% {
    -webkit-clip-path: polygon(0% 78.9637088539%, 100% 78.9637088539%, 100% 85.02318172%, 0% 85.02318172%);
            clip-path: polygon(0% 78.9637088539%, 100% 78.9637088539%, 100% 85.02318172%, 0% 85.02318172%);
  }
  14% {
    -webkit-clip-path: polygon(0% 35.728590942%, 100% 35.728590942%, 100% 42.9771920488%, 0% 42.9771920488%);
            clip-path: polygon(0% 35.728590942%, 100% 35.728590942%, 100% 42.9771920488%, 0% 42.9771920488%);
  }
  16% {
    -webkit-clip-path: polygon(0% 27.0621542637%, 100% 27.0621542637%, 100% 35.132193517%, 0% 35.132193517%);
            clip-path: polygon(0% 27.0621542637%, 100% 27.0621542637%, 100% 35.132193517%, 0% 35.132193517%);
  }
  18% {
    -webkit-clip-path: polygon(0% 10.0393860269%, 100% 10.0393860269%, 100% 14.1657372611%, 0% 14.1657372611%);
            clip-path: polygon(0% 10.0393860269%, 100% 10.0393860269%, 100% 14.1657372611%, 0% 14.1657372611%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: translate(0, 0);
  }
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 80.5662998987%, 100% 80.5662998987%, 100% 82.323176521%, 0% 82.323176521%);
            clip-path: polygon(0% 80.5662998987%, 100% 80.5662998987%, 100% 82.323176521%, 0% 82.323176521%);
  }
  2% {
    -webkit-clip-path: polygon(0% 36.6411380341%, 100% 36.6411380341%, 100% 44.9298508086%, 0% 44.9298508086%);
            clip-path: polygon(0% 36.6411380341%, 100% 36.6411380341%, 100% 44.9298508086%, 0% 44.9298508086%);
  }
  4% {
    -webkit-clip-path: polygon(0% 6.7918543054%, 100% 6.7918543054%, 100% 8.9326932712%, 0% 8.9326932712%);
            clip-path: polygon(0% 6.7918543054%, 100% 6.7918543054%, 100% 8.9326932712%, 0% 8.9326932712%);
  }
  6% {
    -webkit-clip-path: polygon(0% 40.07831012%, 100% 40.07831012%, 100% 46.4573974671%, 0% 46.4573974671%);
            clip-path: polygon(0% 40.07831012%, 100% 40.07831012%, 100% 46.4573974671%, 0% 46.4573974671%);
  }
  8% {
    -webkit-clip-path: polygon(0% 69.7484869907%, 100% 69.7484869907%, 100% 78.3558395749%, 0% 78.3558395749%);
            clip-path: polygon(0% 69.7484869907%, 100% 69.7484869907%, 100% 78.3558395749%, 0% 78.3558395749%);
  }
  10% {
    -webkit-clip-path: polygon(0% 7.6427190452%, 100% 7.6427190452%, 100% 17.0373113582%, 0% 17.0373113582%);
            clip-path: polygon(0% 7.6427190452%, 100% 7.6427190452%, 100% 17.0373113582%, 0% 17.0373113582%);
  }
  12% {
    -webkit-clip-path: polygon(0% 78.9637088539%, 100% 78.9637088539%, 100% 85.02318172%, 0% 85.02318172%);
            clip-path: polygon(0% 78.9637088539%, 100% 78.9637088539%, 100% 85.02318172%, 0% 85.02318172%);
  }
  14% {
    -webkit-clip-path: polygon(0% 35.728590942%, 100% 35.728590942%, 100% 42.9771920488%, 0% 42.9771920488%);
            clip-path: polygon(0% 35.728590942%, 100% 35.728590942%, 100% 42.9771920488%, 0% 42.9771920488%);
  }
  16% {
    -webkit-clip-path: polygon(0% 27.0621542637%, 100% 27.0621542637%, 100% 35.132193517%, 0% 35.132193517%);
            clip-path: polygon(0% 27.0621542637%, 100% 27.0621542637%, 100% 35.132193517%, 0% 35.132193517%);
  }
  18% {
    -webkit-clip-path: polygon(0% 10.0393860269%, 100% 10.0393860269%, 100% 14.1657372611%, 0% 14.1657372611%);
            clip-path: polygon(0% 10.0393860269%, 100% 10.0393860269%, 100% 14.1657372611%, 0% 14.1657372611%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: translate(0, 0);
  }
}

.channel {
  mix-blend-mode: screen;
}
.channel::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
}

.r {
  -webkit-animation: rgb-shift-r 2s steps(1, jump-end) infinite alternate both;
          animation: rgb-shift-r 2s steps(1, jump-end) infinite alternate both;
}
@-webkit-keyframes rgb-shift-r {
  0% {
    transform: translate(-0.7156971096%, 0.1907610224%);
  }
  2% {
    transform: translate(1.985909041%, -0.338572812%);
  }
  4% {
    transform: translate(1.5164958076%, -0.2490853628%);
  }
  6% {
    transform: translate(1.3141925133%, -0.0232578599%);
  }
  8% {
    transform: translate(0.958084682%, -0.1850889377%);
  }
  10% {
    transform: translate(0.8636242646%, -0.0035374645%);
  }
  12% {
    transform: translate(-1.4386392018%, 0.2289066196%);
  }
  14% {
    transform: translate(-0.6722646699%, 0.4386185548%);
  }
  16% {
    transform: translate(1.6376935476%, -0.1989373762%);
  }
  18% {
    transform: translate(0.2658892662%, -0.2686081048%);
  }
  20%, 100% {
    transform: none;
  }
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(-0.7156971096%, 0.1907610224%);
  }
  2% {
    transform: translate(1.985909041%, -0.338572812%);
  }
  4% {
    transform: translate(1.5164958076%, -0.2490853628%);
  }
  6% {
    transform: translate(1.3141925133%, -0.0232578599%);
  }
  8% {
    transform: translate(0.958084682%, -0.1850889377%);
  }
  10% {
    transform: translate(0.8636242646%, -0.0035374645%);
  }
  12% {
    transform: translate(-1.4386392018%, 0.2289066196%);
  }
  14% {
    transform: translate(-0.6722646699%, 0.4386185548%);
  }
  16% {
    transform: translate(1.6376935476%, -0.1989373762%);
  }
  18% {
    transform: translate(0.2658892662%, -0.2686081048%);
  }
  20%, 100% {
    transform: none;
  }
}
.r::before {
  background: #f00;
}

.g::before {
  background: #0f0;
}

.b::before {
  background: #00f;
}/*# sourceMappingURL=glitch2.css.map */