.description {
  padding: 20px;
}

.description h1 span {
  font-size: 18px;
}

.description p {
  margin-top: 10px;
}

#glitch2 {
  background-image: url(../images/bg2.jpg);
  padding-top: calc(1281 / 1920 * 100%);
  width: 100%;
  background-size: 0;
  overflow: hidden;
  position: relative;
}
#glitch2::before, #glitch2::after,
#glitch2 .channel {
  background: inherit;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#glitch2::before {
  content: "";
  -webkit-animation: glitch-before 3s linear infinite alternate both;
          animation: glitch-before 3s linear infinite alternate both;
  -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
          clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
  transform: translate(5%, 0.5%);
}
@-webkit-keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 52.3725919955%, 100% 52.3725919955%, 100% 59.1444029478%, 0% 59.1444029478%);
            clip-path: polygon(0% 52.3725919955%, 100% 52.3725919955%, 100% 59.1444029478%, 0% 59.1444029478%);
    transform: translate(-0.635318242%, 0.4053175702%);
  }
  2% {
    -webkit-clip-path: polygon(0% 65.14430347%, 100% 65.14430347%, 100% 73.9480130511%, 0% 73.9480130511%);
            clip-path: polygon(0% 65.14430347%, 100% 65.14430347%, 100% 73.9480130511%, 0% 73.9480130511%);
    transform: translate(2.1385741719%, 0.1846393126%);
  }
  4% {
    -webkit-clip-path: polygon(0% 82.6680840227%, 100% 82.6680840227%, 100% 90.0042126689%, 0% 90.0042126689%);
            clip-path: polygon(0% 82.6680840227%, 100% 82.6680840227%, 100% 90.0042126689%, 0% 90.0042126689%);
    transform: translate(-3.4737032096%, 0.4032741913%);
  }
  6% {
    -webkit-clip-path: polygon(0% 64.0712474504%, 100% 64.0712474504%, 100% 65.7325892825%, 0% 65.7325892825%);
            clip-path: polygon(0% 64.0712474504%, 100% 64.0712474504%, 100% 65.7325892825%, 0% 65.7325892825%);
    transform: translate(5.4008454278%, 0.059835827%);
  }
  8% {
    -webkit-clip-path: polygon(0% 56.6528781925%, 100% 56.6528781925%, 100% 63.7578729228%, 0% 63.7578729228%);
            clip-path: polygon(0% 56.6528781925%, 100% 56.6528781925%, 100% 63.7578729228%, 0% 63.7578729228%);
    transform: translate(2.8728611578%, -0.0960393663%);
  }
  10% {
    -webkit-clip-path: polygon(0% 12.0592751328%, 100% 12.0592751328%, 100% 16.2349839161%, 0% 16.2349839161%);
            clip-path: polygon(0% 12.0592751328%, 100% 12.0592751328%, 100% 16.2349839161%, 0% 16.2349839161%);
    transform: translate(1.5334870857%, -0.3489027152%);
  }
  12% {
    -webkit-clip-path: polygon(0% 5.8240272313%, 100% 5.8240272313%, 100% 10.2743322112%, 0% 10.2743322112%);
            clip-path: polygon(0% 5.8240272313%, 100% 5.8240272313%, 100% 10.2743322112%, 0% 10.2743322112%);
    transform: translate(4.3330377927%, 0.3695101375%);
  }
  14% {
    -webkit-clip-path: polygon(0% 65.8968547056%, 100% 65.8968547056%, 100% 71.8168252622%, 0% 71.8168252622%);
            clip-path: polygon(0% 65.8968547056%, 100% 65.8968547056%, 100% 71.8168252622%, 0% 71.8168252622%);
    transform: translate(-0.3697599575%, -0.077083395%);
  }
  16% {
    -webkit-clip-path: polygon(0% 3.6156296586%, 100% 3.6156296586%, 100% 10.7283505255%, 0% 10.7283505255%);
            clip-path: polygon(0% 3.6156296586%, 100% 3.6156296586%, 100% 10.7283505255%, 0% 10.7283505255%);
    transform: translate(-1.9721187957%, -0.0836058076%);
  }
  18% {
    -webkit-clip-path: polygon(0% 71.1188122895%, 100% 71.1188122895%, 100% 76.8190060898%, 0% 76.8190060898%);
            clip-path: polygon(0% 71.1188122895%, 100% 71.1188122895%, 100% 76.8190060898%, 0% 76.8190060898%);
    transform: translate(0.5762630013%, 0.2452293273%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 52.3725919955%, 100% 52.3725919955%, 100% 59.1444029478%, 0% 59.1444029478%);
            clip-path: polygon(0% 52.3725919955%, 100% 52.3725919955%, 100% 59.1444029478%, 0% 59.1444029478%);
    transform: translate(-0.635318242%, 0.4053175702%);
  }
  2% {
    -webkit-clip-path: polygon(0% 65.14430347%, 100% 65.14430347%, 100% 73.9480130511%, 0% 73.9480130511%);
            clip-path: polygon(0% 65.14430347%, 100% 65.14430347%, 100% 73.9480130511%, 0% 73.9480130511%);
    transform: translate(2.1385741719%, 0.1846393126%);
  }
  4% {
    -webkit-clip-path: polygon(0% 82.6680840227%, 100% 82.6680840227%, 100% 90.0042126689%, 0% 90.0042126689%);
            clip-path: polygon(0% 82.6680840227%, 100% 82.6680840227%, 100% 90.0042126689%, 0% 90.0042126689%);
    transform: translate(-3.4737032096%, 0.4032741913%);
  }
  6% {
    -webkit-clip-path: polygon(0% 64.0712474504%, 100% 64.0712474504%, 100% 65.7325892825%, 0% 65.7325892825%);
            clip-path: polygon(0% 64.0712474504%, 100% 64.0712474504%, 100% 65.7325892825%, 0% 65.7325892825%);
    transform: translate(5.4008454278%, 0.059835827%);
  }
  8% {
    -webkit-clip-path: polygon(0% 56.6528781925%, 100% 56.6528781925%, 100% 63.7578729228%, 0% 63.7578729228%);
            clip-path: polygon(0% 56.6528781925%, 100% 56.6528781925%, 100% 63.7578729228%, 0% 63.7578729228%);
    transform: translate(2.8728611578%, -0.0960393663%);
  }
  10% {
    -webkit-clip-path: polygon(0% 12.0592751328%, 100% 12.0592751328%, 100% 16.2349839161%, 0% 16.2349839161%);
            clip-path: polygon(0% 12.0592751328%, 100% 12.0592751328%, 100% 16.2349839161%, 0% 16.2349839161%);
    transform: translate(1.5334870857%, -0.3489027152%);
  }
  12% {
    -webkit-clip-path: polygon(0% 5.8240272313%, 100% 5.8240272313%, 100% 10.2743322112%, 0% 10.2743322112%);
            clip-path: polygon(0% 5.8240272313%, 100% 5.8240272313%, 100% 10.2743322112%, 0% 10.2743322112%);
    transform: translate(4.3330377927%, 0.3695101375%);
  }
  14% {
    -webkit-clip-path: polygon(0% 65.8968547056%, 100% 65.8968547056%, 100% 71.8168252622%, 0% 71.8168252622%);
            clip-path: polygon(0% 65.8968547056%, 100% 65.8968547056%, 100% 71.8168252622%, 0% 71.8168252622%);
    transform: translate(-0.3697599575%, -0.077083395%);
  }
  16% {
    -webkit-clip-path: polygon(0% 3.6156296586%, 100% 3.6156296586%, 100% 10.7283505255%, 0% 10.7283505255%);
            clip-path: polygon(0% 3.6156296586%, 100% 3.6156296586%, 100% 10.7283505255%, 0% 10.7283505255%);
    transform: translate(-1.9721187957%, -0.0836058076%);
  }
  18% {
    -webkit-clip-path: polygon(0% 71.1188122895%, 100% 71.1188122895%, 100% 76.8190060898%, 0% 76.8190060898%);
            clip-path: polygon(0% 71.1188122895%, 100% 71.1188122895%, 100% 76.8190060898%, 0% 76.8190060898%);
    transform: translate(0.5762630013%, 0.2452293273%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
#glitch2::after {
  content: "";
  -webkit-animation: glitch-after 3s linear infinite alternate both;
          animation: glitch-after 3s linear infinite alternate both;
  -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
          clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
  transform: translate(-5%, -0.5%);
}
@-webkit-keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 1.2434178733%, 100% 1.2434178733%, 100% 6.814282667%, 0% 6.814282667%);
            clip-path: polygon(0% 1.2434178733%, 100% 1.2434178733%, 100% 6.814282667%, 0% 6.814282667%);
    transform: translate(-0.9597245368%, 0.0862229339%);
  }
  2% {
    -webkit-clip-path: polygon(0% 41.5037036989%, 100% 41.5037036989%, 100% 43.6231719101%, 0% 43.6231719101%);
            clip-path: polygon(0% 41.5037036989%, 100% 41.5037036989%, 100% 43.6231719101%, 0% 43.6231719101%);
    transform: translate(-7.0010597249%, 0.2108223018%);
  }
  4% {
    -webkit-clip-path: polygon(0% 88.2971111419%, 100% 88.2971111419%, 100% 96.8687764762%, 0% 96.8687764762%);
            clip-path: polygon(0% 88.2971111419%, 100% 88.2971111419%, 100% 96.8687764762%, 0% 96.8687764762%);
    transform: translate(5.8735216968%, 0.2051961115%);
  }
  6% {
    -webkit-clip-path: polygon(0% 20.4058849026%, 100% 20.4058849026%, 100% 25.6044678838%, 0% 25.6044678838%);
            clip-path: polygon(0% 20.4058849026%, 100% 20.4058849026%, 100% 25.6044678838%, 0% 25.6044678838%);
    transform: translate(-0.6842322914%, 0.2876201625%);
  }
  8% {
    -webkit-clip-path: polygon(0% 78.3847516271%, 100% 78.3847516271%, 100% 80.7000867538%, 0% 80.7000867538%);
            clip-path: polygon(0% 78.3847516271%, 100% 78.3847516271%, 100% 80.7000867538%, 0% 80.7000867538%);
    transform: translate(5.1270488023%, 0.2523297332%);
  }
  10% {
    -webkit-clip-path: polygon(0% 62.4657258262%, 100% 62.4657258262%, 100% 71.9943764232%, 0% 71.9943764232%);
            clip-path: polygon(0% 62.4657258262%, 100% 62.4657258262%, 100% 71.9943764232%, 0% 71.9943764232%);
    transform: translate(-7.5871309814%, -0.0266961394%);
  }
  12% {
    -webkit-clip-path: polygon(0% 24.3731928713%, 100% 24.3731928713%, 100% 32.0850534792%, 0% 32.0850534792%);
            clip-path: polygon(0% 24.3731928713%, 100% 24.3731928713%, 100% 32.0850534792%, 0% 32.0850534792%);
    transform: translate(7.022625058%, -0.0656779848%);
  }
  14% {
    -webkit-clip-path: polygon(0% 23.3871016543%, 100% 23.3871016543%, 100% 27.7355901077%, 0% 27.7355901077%);
            clip-path: polygon(0% 23.3871016543%, 100% 23.3871016543%, 100% 27.7355901077%, 0% 27.7355901077%);
    transform: translate(2.1802897405%, -0.4124608134%);
  }
  16% {
    -webkit-clip-path: polygon(0% 59.3626403754%, 100% 59.3626403754%, 100% 66.1009069672%, 0% 66.1009069672%);
            clip-path: polygon(0% 59.3626403754%, 100% 59.3626403754%, 100% 66.1009069672%, 0% 66.1009069672%);
    transform: translate(-6.6831452925%, -0.3872298398%);
  }
  18% {
    -webkit-clip-path: polygon(0% 8.6588580761%, 100% 8.6588580761%, 100% 14.6245931331%, 0% 14.6245931331%);
            clip-path: polygon(0% 8.6588580761%, 100% 8.6588580761%, 100% 14.6245931331%, 0% 14.6245931331%);
    transform: translate(-6.8535909072%, 0.1544682052%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 1.2434178733%, 100% 1.2434178733%, 100% 6.814282667%, 0% 6.814282667%);
            clip-path: polygon(0% 1.2434178733%, 100% 1.2434178733%, 100% 6.814282667%, 0% 6.814282667%);
    transform: translate(-0.9597245368%, 0.0862229339%);
  }
  2% {
    -webkit-clip-path: polygon(0% 41.5037036989%, 100% 41.5037036989%, 100% 43.6231719101%, 0% 43.6231719101%);
            clip-path: polygon(0% 41.5037036989%, 100% 41.5037036989%, 100% 43.6231719101%, 0% 43.6231719101%);
    transform: translate(-7.0010597249%, 0.2108223018%);
  }
  4% {
    -webkit-clip-path: polygon(0% 88.2971111419%, 100% 88.2971111419%, 100% 96.8687764762%, 0% 96.8687764762%);
            clip-path: polygon(0% 88.2971111419%, 100% 88.2971111419%, 100% 96.8687764762%, 0% 96.8687764762%);
    transform: translate(5.8735216968%, 0.2051961115%);
  }
  6% {
    -webkit-clip-path: polygon(0% 20.4058849026%, 100% 20.4058849026%, 100% 25.6044678838%, 0% 25.6044678838%);
            clip-path: polygon(0% 20.4058849026%, 100% 20.4058849026%, 100% 25.6044678838%, 0% 25.6044678838%);
    transform: translate(-0.6842322914%, 0.2876201625%);
  }
  8% {
    -webkit-clip-path: polygon(0% 78.3847516271%, 100% 78.3847516271%, 100% 80.7000867538%, 0% 80.7000867538%);
            clip-path: polygon(0% 78.3847516271%, 100% 78.3847516271%, 100% 80.7000867538%, 0% 80.7000867538%);
    transform: translate(5.1270488023%, 0.2523297332%);
  }
  10% {
    -webkit-clip-path: polygon(0% 62.4657258262%, 100% 62.4657258262%, 100% 71.9943764232%, 0% 71.9943764232%);
            clip-path: polygon(0% 62.4657258262%, 100% 62.4657258262%, 100% 71.9943764232%, 0% 71.9943764232%);
    transform: translate(-7.5871309814%, -0.0266961394%);
  }
  12% {
    -webkit-clip-path: polygon(0% 24.3731928713%, 100% 24.3731928713%, 100% 32.0850534792%, 0% 32.0850534792%);
            clip-path: polygon(0% 24.3731928713%, 100% 24.3731928713%, 100% 32.0850534792%, 0% 32.0850534792%);
    transform: translate(7.022625058%, -0.0656779848%);
  }
  14% {
    -webkit-clip-path: polygon(0% 23.3871016543%, 100% 23.3871016543%, 100% 27.7355901077%, 0% 27.7355901077%);
            clip-path: polygon(0% 23.3871016543%, 100% 23.3871016543%, 100% 27.7355901077%, 0% 27.7355901077%);
    transform: translate(2.1802897405%, -0.4124608134%);
  }
  16% {
    -webkit-clip-path: polygon(0% 59.3626403754%, 100% 59.3626403754%, 100% 66.1009069672%, 0% 66.1009069672%);
            clip-path: polygon(0% 59.3626403754%, 100% 59.3626403754%, 100% 66.1009069672%, 0% 66.1009069672%);
    transform: translate(-6.6831452925%, -0.3872298398%);
  }
  18% {
    -webkit-clip-path: polygon(0% 8.6588580761%, 100% 8.6588580761%, 100% 14.6245931331%, 0% 14.6245931331%);
            clip-path: polygon(0% 8.6588580761%, 100% 8.6588580761%, 100% 14.6245931331%, 0% 14.6245931331%);
    transform: translate(-6.8535909072%, 0.1544682052%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}

.channel {
  mix-blend-mode: screen;
}
.channel::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
}

.r {
  -webkit-animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
          animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@-webkit-keyframes rgb-shift-r {
  0% {
    transform: translate(0.3752924206%, 0.4031383616%);
  }
  2% {
    transform: translate(-0.3690723938%, 0.3966566103%);
  }
  4% {
    transform: translate(1.3389008077%, 0.0617985427%);
  }
  6% {
    transform: translate(-1.8655002956%, -0.0510470915%);
  }
  8% {
    transform: translate(-0.7670015309%, -0.1289597289%);
  }
  10% {
    transform: translate(-1.2210316028%, 0.483682225%);
  }
  12% {
    transform: translate(-1.8757816293%, -0.3407894574%);
  }
  14% {
    transform: translate(1.3619413229%, -0.3685008445%);
  }
  16% {
    transform: translate(-1.1268259261%, -0.1375331532%);
  }
  18% {
    transform: translate(-1.0623067186%, -0.3135803568%);
  }
  20%, 100% {
    transform: none;
  }
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(0.3752924206%, 0.4031383616%);
  }
  2% {
    transform: translate(-0.3690723938%, 0.3966566103%);
  }
  4% {
    transform: translate(1.3389008077%, 0.0617985427%);
  }
  6% {
    transform: translate(-1.8655002956%, -0.0510470915%);
  }
  8% {
    transform: translate(-0.7670015309%, -0.1289597289%);
  }
  10% {
    transform: translate(-1.2210316028%, 0.483682225%);
  }
  12% {
    transform: translate(-1.8757816293%, -0.3407894574%);
  }
  14% {
    transform: translate(1.3619413229%, -0.3685008445%);
  }
  16% {
    transform: translate(-1.1268259261%, -0.1375331532%);
  }
  18% {
    transform: translate(-1.0623067186%, -0.3135803568%);
  }
  20%, 100% {
    transform: none;
  }
}
.r::before {
  background: #f00;
}

.g::before {
  background: #0f0;
}

.b::before {
  background: #00f;
}/*# sourceMappingURL=glitch2.css.map */